body {
  overflow: auto;
  background-color: #F7F7F7;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 1rem;
}
.sidebar {
  width: 25%;
  border-right: 1px solid #dee2e6;
  margin-top: 1rem;
}
.content {
  width: calc(75% - 2rem);
  padding-left: 2rem;
  margin-top: 1rem;
}
.sticky {
  position: sticky;
  top: 1rem;
}
.nav-link {
padding: 0.5rem 1.5rem;
font-size: 1.1rem;
color: #333;
transition: background-color 0.3s ease;
}
.nav-link:hover {
background-color: #f7f7f7;
}
.active {
background-color: #e9ecef;
font-weight: bold;
}
.nav-item:not(:last-child) {
border-bottom: 1px solid #dee2e6;
}
.navbar-nav {
  width: 100%;
}
.content {
  width: 75%;
  padding-left: 2rem;
  margin-top: 1rem;
}
.student-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.btn-color {
  background-color: #005C97;
  color: #ffffff;
  border-radius: 30px;
  border: none;
}
.fw-bold {
font-weight: bold;
}
.text-center {
text-align: center;
}
.mt-5 {
margin-top: 5%;
}
.mb-5 {
margin-bottom: 5%;
}
table {
width: 100%;
margin-bottom: 1rem;
color: #212529;
border-collapse: collapse;
}
thead {
background-color: #e9ecef;
}
th, td {
padding: 0.75rem;
vertical-align: top;
border-top: 1px solid #dee2e6;
text-align: center;
}
th {
border-bottom: 2px solid #dee2e6;
font-weight: bold;
}
.menu {
text-align: center;
}
.profile-image-pic {
  margin: 0 auto;
  border: 5px solid #fff;
  transition: all 0.3s ease-in-out;
}
.profile-image-pic:hover {
  border: 5px solid #005C97;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #ddd;
}
.logout-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}