
body {
  overflow: hidden;
  background-color: #F7F7F7;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-login {
  width: 450px;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.card-body-color {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}
.btn-color {
  background-color: #005C97;
  color: #ffffff;
  border-radius: 30px;
  border: none;
}
.profile-image-pic {
  margin: 0 auto;
  border: 5px solid #fff;
  transition: all 0.3s ease-in-out;
}
.profile-image-pic:hover {
  border: 5px solid #005C97;
}
img {
  display: block;
  margin: 0 auto;
}
.form-control {
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #363636;
}
.form-control:focus {
  outline: none;
  box-shadow: 0px 0px 5px #005C97;
}
.form-text {
  font-size: 16px;
  color: #8c8c8c;
  font-weight: bold;
}
.fw-bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.mt-5 {
  margin-top: 5%;
}
.mb-5 {
  margin-bottom: 5%;
}
.alert-danger {
  background-color: #FF4D4D;
  color: #fff;
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 5%;
  font-weight: bold;
}
.alert-danger p {
  margin: 0;
}
.alert-danger b {
  margin-right: 5px;
}
