{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>ELITE: 비밀번호 초기화</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset/password_reset_reset.css' %}">
  </head>
  <body>
    <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-login">
        <form class="card-body card-body-color p-lg-5" method="POST" id="login-form">
          {% csrf_token %}
          <h2 class="text-center text-dark mt-5">비밀번호 초기화</h2>
          <div class="text-center mb-5 text-dark">Created by ELITE</div>
          {% if messages %}
          <div class="alert alert-danger text-center" id="alert-msg">
              {% for message in messages %}
              <p>{{ message }}</p>
              {% endfor %}
          </div>
          {% endif %}
          <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="새 비밀번호">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="비밀번호 확인">
          </div>
          <div class="text-center mb-3">
              <button type="submit" class="btn btn-color px-5 mb-5 w-100">비밀번호 초기화</button>
          </div>
          <div id="reset-password-result"></div>
      </form>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
